bin/
obj/
*.suo
Build
Lib
*.opensdf
*.sdf
*.user
ipch
*.exe
*.aps
*.obj
*.swp
*.dll
*.pdb

# java
*.class

# python
*.pyc
*.pyo

dist/
target/

node_modules/

# erlang
*.beam

# librdkafka
librdkafka-0.11.5

