<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0">
	<display-name>Restaurant</display-name>
	<servlet>
		<servlet-name>noodles</servlet-name>
		<servlet-class>com.netease.NoodlesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>noodles</servlet-name>
		<url-pattern>/noodles</url-pattern>
	</servlet-mapping>
</web-app>

